@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

$font-stack: 'Open Sans', Helvetica;
$background: #333;
$border: #4A4A4A;
$phText: #9B9B9B;
$inputText: #F0F0F0;

body {
    background-color: $background;
    font-family: $font-stack;  
}

.App  {
    text-align: center;
}

label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;

    .label-text {
        color: $phText;
        cursor: text;
        font-size: 25px;
        line-height: 20px;
        text-transform: uppercase;
        transform: translateY(-34px);
        transition: all 0.3s;
    }

    input {
        background-color: transparent;
        text-align: center;
        color: white;
        outline: 0;
        border: none;
        border-bottom: 2px solid $border;
        font-family: $font-stack;
        font-size: 20px;
        letter-spacing: 2px;
        width: 200px;
        transition: all 0.3s;
        padding: 5px 20px;
        text-transform: uppercase;
        

        &:focus {
            max-width: 100%;
            width: 400px;

            & + .label-text {
                color: $inputText;
                font-size: 15px;
                transform: translateY(-74px);
            }
        }

        &:valid + .label-text {
            font-size: 15px;
            transform: translateY(-74px);
        }
    }
}

button {
    outline: 0;
    background-color: $background;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 27px;
    font-size: 17px;
    text-transform: uppercase;
    padding: 12px 26px;
    letter-spacing: 1px;
    margin-top: 12px;
}

ul {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

li {
    padding-top: 5px;
    display: inline-flex;
}

.deleteBtn {
    padding-left: 10px;
}

